<div class="head-container">
  <form>ენა:
    <select name="language">
      <option value="Georgian-QWERTY">ქართული</option>
      <option value="English">English</option>
    </select>
  </form>
  <h2>CV Form</h2>
</div>
<div class="grid-container">
  <form class="mainForm" [formGroup]="form" (ngSubmit)="submit()">
    <div class="name"><div>Name:</div>
      <input type="text" name="firstname" placeholder="firstname" formControlName="firstname" required/>
      <div *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched"
           class="validationMessage">შეიყვანეთ სახელი!
      </div>
    </div>
    <br>

    <div class="lastName" title="შეიყვანეთ ლათინური ასოებით"><div>Lastname:</div>
      <input type="text" name="lastname" placeholder="lastname" formControlName="lastname" required/>
      <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched"
           class="validationMessage">შეიყვანეთ გვარი!
      </div>
    </div>
    <br>

    <div [formGroup]="form">
      <div>
        <div class="email" formGroupName="userContactInfo"><div>Email:</div>
          <input type="text" name="email" placeholder="Email" formControlName="email"/>
          <div
            *ngIf="form.get('userContactInfo.email')?.getError('required') && form.get('userContactInfo.email')?.touched"
            class="validationMessage">შეიყვანეთ ელ. ფოსტა!
          </div>
          <div
            *ngIf="form.get('userContactInfo.email')?.getError('email') && form.get('userContactInfo.email')?.touched"
            class="validationMessage">შეიყვანეთ ელ. ფოსტა სწორ ფორმატში!
          </div>
        </div>
        <br>

        <div class="phone" formGroupName="userContactInfo" title="შეიყვანეთ მოქმედი ნომერი"><div>Phone:</div>
          <input type="text" name="phone" placeholder="Phone" formControlName="phone"/>
          <div
            *ngIf="form.get('userContactInfo.phone')?.getError('required') && form.get('userContactInfo.phone')?.touched"
            class="validationMessage">ტელეფონის ნომერი სავალდებულოა!
          </div>

          <div
            *ngIf="form.get('userContactInfo.phone')?.getError('minlength') && form.get('userContactInfo.phone')?.touched"
            class="validationMessage">შეიყვანეთ მინ. 9 ციფრი!
          </div>
        </div>
      </div>
      <br>
      <div style="width: fit-content" formGroupName="userContactInfo">
        <select name="socialMedia" class="container" formControlName="socialMedia">
          <option selected value=""></option>
          <option name="facebook" value="facebook">Facebook</option>
          <option name="linkedin" value="linkedin">Linkedin</option>
          <option name="github" value="github">Github</option>
        </select>
        <div
          *ngIf="form.get('userContactInfo.socialMedia')?.getError('required') && form.get('userContactInfo.socialMedia')?.touched"
          class="validationMessage">აირჩიეთ სოციალური ქსელი!</div>
        <input class="link" type="text" name="link" placeholder="Type a URL" formControlName="link" value="">
      </div>
      <div *ngIf="form.get('userContactInfo.link')?.getError('pattern') && form.get('userContactInfo.link')?.touched"
           class="validationMessage">ლინკი შეიყვანეთ სწორ ფორმატში! (https://...)</div>
      <div *ngIf="form.get('userContactInfo.link')?.getError('required') && form.get('userContactInfo.link')?.touched"
           class="validationMessage">შეიყვანეთ თქვენი პერსონალური ანგარიშის მისამართი!</div>

    </div>
    <br>

    <div formGroupName="userContactInfo" class="description">
          <textarea name="description" rows="10" cols="30"
                    placeholder="description" formControlName="description">
          </textarea><br>
      <div
        *ngIf="form.get('userContactInfo.description')?.getError('required') && form.get('userContactInfo.description')?.touched"
        class="validationMessage">შეავსეთ აღწერა!
      </div>
    </div>

    <div formArrayName="experience">
      <button type="button" (click)="addExperience()">Add Experience</button>
      <ng-container *ngFor="let control of experienceFormArray.controls; let i =index">
        <div [formGroupName]="i">
          <input type="text" name="company" placeholder="company" formControlName="company" class="experience">
          <input type="text" name="years" placeholder="years" formControlName="years">
          <button type="button" (click)="removeExperience(i)">Remove Experience</button>
          <div *ngIf="control.get('company')?.getError('required') && control.get('company')?.touched"
               class="validationMessage">ჩაწერეთ კომპანიის სახელი!
          </div>
          <div *ngIf="control.get('years')?.getError('required') && control.get('years')?.touched"
               class="validationMessage">შეიყვანეთ წლების რაოდენობა!
          </div>
        </div>
      </ng-container>
    </div><br>
    <div formGroupName="userContactInfo">
      <input type="checkbox" name="active" [value]="true" formControlName="active"/> ვეთანხმები წესებს!
    </div>

    <button type="submit">Submit</button>
    <br>
  </form>
</div>
<pre>
  valid: {{form.valid}}<br>
  {{form.value | json}}
</pre>





